<%- include('../layout/navbar', {type: 'Server'}); -%>
<style>
h2 {
    text-align: center;
    margin-top: 50px;
}
</style>

<!-- add back button -->

<h2>Dnes již byly všechny knihy vylosovány</h2>

<%- include('../layout/footer'); -%>