<style>
nav {
    -webkit-app-region: drag;
}
nav div, ul {
    -webkit-app-region: no-drag;
}
nav .navbar-header {
    -webkit-app-region: drag;
}
.alert {
    position: absolute;
    top: 65px;
    width: 40%;
    left: 30%;
    z-index: 2;
}
</style>

<div class="alert alert-info alert-dismissible" style="display: none">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span id='status'></span>
</div>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
        <span class="navbar-brand" style="color: #fff">
            Maturita GPJP <small> - Volba knihy</small>
            <% if (typeof type == 'string' && type.length > 0) { %>
                <%- '<small> (' + type + ')</small>' -%>
            <% } %>
        </span>
    </div>
    <ul class="normalMode nav navbar-nav navbar-right">
        <li class="dropdown">
            <% if (typeof menu == 'string' && menu.length > 0) { %>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span>Možnosti</span>
                    <span class="caret"></span>
                </a>
                <%- menu -%>
            <% } %>
        </li>
        <li style="margin-right: 7px"><button class="btn btn-xs btn-info navbar-btn pull-right" onclick="main.mini()">_</button></li>
        <li style="margin-right: 25px"><button class="btn btn-xs btn-danger navbar-btn pull-right" data-toggle="modal" data-target="#close-modal">&times;</button></li>
    </ul>
</nav>

<div id="close-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opravdu chcete apliakci ukončit?</h4>
            </div>
            <div class="modal-body">
                Veškerá nastavení zůstanou uložena.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" onclick='main.close()'>Ukončit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
            </div>
        </div>
    </div>
</div>
