<%- include('../layout/navbar', {
    menu: `<ul class="dropdown-menu">
<li><a href="#" id="loadKanon" onclick="main.env.loadKanon()">Načíst kánon</a></li>
<li class="disabled" id="loadPupil"><a href="#" onclick="main.env.loadPupil()">Načíst studenty</a></li>
</ul>`}) -%>

<style>

</style>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <select id='pupils' class="form-control" required>
                <option selected disabled>Zvolte studenta</option>
            </select>
            <br />
            <button class="btn btn-success" onclick="return main.env.validate()">Spustit</button>
            <br />
            <br />
            <label>Dnes vyřazené knihy:</label>
            <select multiple class="form-control" id='used' style='height: calc(100vh - 308px);'></select>
            <span>Pro přesun knihy <b>dvakrát klikněte</b></span>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <label>Kánon:</label>
            <select multiple class="form-control" id='books' style='height: calc(100vh - 200px);'></select>
        </div>
    </div>
</div>

<%- include('../layout/footer') -%>

<div id="continue-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Přejít k losování</h4>
            </div>
            <div class="modal-body">
                Pro ukončení losování, stiskněte <kbd>Ctrl + Shift + <b>K</b></kbd>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal" onclick='main.env.dispatch()'>Pokračovat</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
            </div>
        </div>
    </div>
</div>

<div id="change-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            Kniha <span id='bookChange'></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-left" id="bookChangeContinue">Pokračovat</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
        </div>
        </div>
    
    </div>
</div>